@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400&display=swap");

body {
  font-family: "Nunito Sans", sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #fff;
  background-color: #0a0a0a;
}

a:focus,
a:hover {
  color: #feda70;
  text-decoration: underline;
}

.navbar-default {
  font-size: 16px;
  background-color: #101010;
  border-color: #1a1a1a;
  position: fixed;
  width: 100%;
  z-index: 99;
}

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:active {
  color: #f7f7f7;
  font-weight: bold;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}

.card-home {
  border: 1px solid #e1cd0a;
  border-radius: 8px;
  text-align: center;
  margin-bottom: 75px;
}

.card-panduan {
  background: #131620;
  padding: 10px;
}

.pd-8 {
  padding: 8px;
}

.pd-15 {
  padding: 15px;
}

.card-home-footer {
  background: #282d34;
  padding: 12px;
  border-radius: 1px 1px 10px 10px;
  text-align: center;
}

.card-home-footer p {
  margin-top: 0px;
  font-size: 20px;
}

.btn-gold {
  background: #f7ce06;
  background: linear-gradient(360deg, #e4d00a 10%, #996515 100%);
  font-weight: bold;
  color: #000;
}

.btn-gold:hover {
  color: #000;
}

.bg-grey {
  background: #313131;
}

.title-bg-grey {
  text-align: center;
  background: #313131;
  padding-top: 15px;
  padding-bottom: 15px;
}

.w-100 {
  width: 100%;
}

/* .card {
  background: #282d34;
  border-radius: 5px;
} */

.mg-b-25 {
  margin-bottom: 25px;
}

.img-responsive {
  width: 100%;
}

p.title {
  font-size: 16px;
  font-weight: bold;
}

.pd-custom {
  padding: 10px 78px;
}

.btn-blue {
  display: block;
  background: linear-gradient(360deg, rgb(1 55 77) 27%, rgb(78 157 218) 68%);
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 15px;
  word-wrap: break-word;
  white-space: normal;
}

.btn-blue:hover {
  color: #fff;
}

.pd-30 {
  padding: 30px;
}

.f-14 {
  font-size: 14px;
}

.f-19 {
  font-size: 19px;
}

.f-28 {
  font-size: 28px !important;
}

.no-bg-br-only {
  border: 1px solid #313131;
  background: #000000;
}

.d-flex-center {
  display: flex;
  justify-content: center;
}

.mg-t-10 {
  margin-top: 10px;
}

.mg-t-25 {
  margin-top: 25px;
}

.mg-b-50 {
  margin-bottom: 50px;
}

.btn-transparent,
.btn-transparent:hover,
.btn-transparent:active,
.btn-transparent:focus {
  background: transparent;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
}

.table-custom {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  margin: 0 auto;
}

.table-custom tbody tr {
  background: #141519;
  font-weight: bold;
  border: 1px solid #1e8c8c;
  border-bottom: 15px solid #141519;
}

.table-custom tbody tr td {
  border: 0;
  margin-bottom: 15px;
  font-size: 18px;
}

.table-custom thead tr th {
  border: 0;
  margin-bottom: 15px;
  text-align: center;
  font-size: 18px;
}

.table-custom tbody tr td.weight-blue {
  background: linear-gradient(360deg, rgb(1 55 77) 27%, rgb(78 157 218) 68%);
  font-weight: bold;
}

.table-custom tbody tr td.soft-blue {
  /* background: #005d92; */
  background: linear-gradient(360deg, rgb(1 55 77) 27%, rgb(78 157 218) 68%);
  font-weight: bold;
}

/* table result dark */
.table .table-result-dark tr {
  border: none;
}
.table-result-dark {
  border: 2px solid #3d070e;
  background: transparent;
  margin-bottom: 20px;
}

.table-result-dark thead th {
  background: #0a0a0a;
  color: #fff;
  font-weight: bold;
}

.table-result-dark tbody tr td {
  background: #0a0a0a;
  padding: 10px;
}
.table-result-dark tbody tr td.pl-2 {
  padding-left: 20px;
}

.text-white {
  color: #fff;
  font-weight: bold;
}

.pd-50 {
  padding: 50px;
}

.custom-search {
  background: #313131;
  border: 0;
  border-radius: 50px;
  width: 50%;
  margin: 0 auto;
  height: 50px;
  color: #fff;
  text-align: center;
  margin-bottom: 38px;
  margin-top: 38px;
}

.modal-custom .modal-footer {
  text-align: center !important;
}

.modal-custom .modal-footer span {
  color: #000;
}

.logo {
  margin-top: -18px;
  width: 109px;
  padding-top: 4px;
}

.modal-custom .modal-header {
  background: #050505;
  border: 0;
  color: #fff;
  border-bottom: 1px solid #e4c046;
}

.modal-custom .modal-body {
  background: #101010;
  color: #efefef;
  padding: 85px;
  padding-top: 1px;
}
.modal-custom .modal-body h3 {
  color: #fefefe;
}
.modal-custom .modal-body p {
  font-size: 18px;
  margin-bottom: 0px;
  font-family: tahoma;
}

.modal-logo {
  margin: 0 auto;
  display: block;
  width: 150px;
}

.modal-custom .modal-body .card {
  padding: 15px;
  padding-bottom: 20px;
  padding-top: 25px;
}
/* CARD BLOCK */
.card-block {
  border: 1px solid #e4c046;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 5px;
  padding: 10px;
  border-radius: 4px;
}

.card-block.grey {
  background: #282d34;
  border: 0;
}

.card-block p {
  margin-bottom: 0px;
  font-weight: 900;
}

.card-block-custom {
  height: 255px;
  align-items: center;
  display: flex;
  justify-content: center;
  color: #efefef;
}

.mg-b-35 {
  margin-bottom: 35px !important;
}

.mg-b-30 {
  margin-bottom: 30px !important;
}

.mg-b-15 {
  margin-bottom: 15px !important;
}

.modal-custom .modal-body a {
  margin-bottom: 10px;
}

.blue-text {
  color: #02bee6;
}

.wd-84-center {
  width: 84%;
  margin: 0 auto;
}

.wd-full {
  width: 100%;
  font-family: Tahoma, sans-serif;
  word-spacing: 1px;
  font-size: 18px;
  font-weight: bold;
}

.eight-columns {
  padding-left: 0;
  list-style: none;
  width: 100%;
  -webkit-column-count: 8;
  -moz-column-count: 8;
  column-count: 8;
}

.f-54 {
  font-size: 54px;
}

.text-bold {
  font-weight: bold;
}

.f-18 {
  font-size: 18px;
}

.d-block {
  display: block;
}

.mg-bt-35 {
  margin-top: 35px;
  margin-bottom: 35px;
}

.d-flex {
  display: flex;
}

.space-around {
  justify-content: space-around;
}

.card-transparent {
  border: 1px solid #545454;
}

.pd-25 {
  padding: 25px;
}

.table-hover > tbody > tr:hover {
  background-color: #02bee6;
}

.table-draw tbody tr {
  background: #1a1d22;
}

.footer {
  background: #fff;
  color: #000;
  text-align: center;
  font-weight: bold;
  padding: 15px;
  margin-top: 50px;
}

.content {
  min-height: calc(100vh - 172px);
  padding-top: 75px;
}

a.text-white:hover {
  color: #fff;
  text-transform: none;
  text-decoration: none;
}

.card-guide-detail .card-footer p {
  color: #fff !important;
  font-weight: 300;
}

.star-checked {
  color: #f7ce06;
}

.custom-blue-bg {
  margin-left: 37%;
  margin-right: 37%;
  background-image: url("../images/background result-min.png");
  background-size: cover;
  background-position-y: center;
  background-position-x: center;
}

.pd-5 {
  padding: 5px;
}

.pd-20-10 {
  padding: 20px 10px;
}

.mg-b-0 {
  margin-bottom: 0;
}

.mg-t-0 {
  margin-top: 0;
}

p.title_pred {
  color: #fff;
}
p.title_pred_orange {
  color: #fff;
}
@media (min-width: 768px) {
  #pre_4d {
    font-size: 24px;
    font-weight: bold;
  }
  #h_4D {
    font-size: 18px;
    color: #fff;
    font-weight: bold;
  }
  .five-columns {
    word-spacing: 60px;
  }
}

@media (max-width: 768px) {
  .f-28 {
    font-size: 22px !important;
  }
  .pd-50 {
    padding: 25px;
  }
  #h_4d {
    font-size: 14px;
    font-weight: bold;
  }
  #pre_4d {
    font-size: 18px;
    font-weight: bold;
  }
  .row {
    margin-right: 0;
    margin-left: 0;
  }
  .modal-custom .modal-body {
    background: #101010;
    color: #fff;
    padding: 2px;
  }

  .custom-blue-bg {
    margin-left: 15%;
    margin-right: 15%;
  }

  .modal-custom .modal-body a {
    width: 100%;
    margin-bottom: 10px;
  }

  .pd-custom {
    padding: 10px 10px;
  }

  .f-19 {
    font-size: 12px;
  }

  .desktop-only {
    display: none;
  }

  .mobile-only {
    display: block;
  }

  .title-bg-grey {
    margin-top: 0px;
  }

  .mobile-card-home {
    margin-bottom: 15px;
  }

  .mobile-card-home h1 {
    font-size: 16px;
    margin: 0;
  }

  .mobile-card-home p {
    font-size: 13px;
    margin: 0;
  }

  .flag-custom-mobile {
    font-size: 15px;
    display: inline-flex !important;
  }

  h1.after-flag {
    font-size: 14px;
    text-align: right;
    display: inline-flex;
  }

  .text-yellow {
    color: #f7ce06 !important;
  }

  .btn-gold {
    padding: 3px 10px;
  }

  .draw-mobile {
    font-size: 20px !important;
  }

  .pd-r-0 {
    padding-right: 0;
  }

  h2.mobile {
    font-size: 14px;
    font-weight: bold;
  }

  .footer {
    padding: 15px 9px;
    margin-top: 10px;
  }

  .card-block {
    width: 100%;
  }

  .wd-84-center {
    width: inherit;
    margin-right: -15px;
    margin-left: -15px;
  }

  .pd-0-mobile {
    padding: 0px;
  }

  .pd-l-0-mobile {
    padding-left: 0;
  }

  .pd-r-0-mobile {
    padding-right: 0;
  }
  .pd-1-mobile {
    padding: 1px;
  }
  .pd-2-mobile {
    padding: 2px;
  }
  .min-height-25 {
    min-height: 19px;
  }

  .flag-custom {
    display: none !important;
  }

  .modal-custom .modal-body .card {
    padding: 15px;
    padding-bottom: 10px;
  }

  .table-custom tbody tr {
    background: #4e4e4e;
    font-weight: bold;
    border: 1px solid #1e8c8c;
    border-bottom: 10px solid #1a1d22;
  }

  .table-responsive {
    border: 0;
  }

  .custom-search {
    width: 100%;
  }

  .modal-custom .modal-body p {
    font-size: 15px;
    margin-bottom: 0px;
  }

  .card-bandar-mobile {
    border: 1px solid #fff;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 10px;
  }

  .card-bandar-mobile.weight-blue {
    background: linear-gradient(360deg, rgb(1 55 77) 27%, rgb(78 157 218) 68%);
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 10px;
    border: 1px solid rgb(0 233 254);
  }

  .card-bandar-mobile.soft-blue {
    background: linear-gradient(360deg, rgb(1 55 77) 27%, rgb(78 157 218) 68%);
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 10px;
    border: 1px solid rgb(0 233 254);
  }

  .card-bandar-mobile h3.position,
  .card-bandar-mobile h3.bandar-name,
  .card-bandar-mobile h3.min-dp,
  .card-bandar-mobile h3.min-wd {
    margin: 0;
  }

  h3.bandar-name {
    font-size: 30px;
    font-weight: bold;
  }

  h3.min-dp,
  h3.min-wd {
    font-size: 13px;
  }

  .card-bandar-mobile .star-checked {
    font-size: 21px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .desktop-only-table {
    display: none;
  }

  .card-block-custom {
    height: 246px;
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .custom-navbar-nav li {
    display: inline-block;
  }

  .custom-navbar-nav li a {
    padding: 10px 11px;
  }

  .custom-navbar-nav {
    margin-left: 0;
    margin-right: 0;
  }

  .custom-navbar-nav .navbar-nav {
    margin-left: 0;
    margin-right: 0;
  }

  .card-guide-detail .card-body img {
    width: 100% !important;
  }
}

@media (min-width: 769px) {
  .table-responsive {
    overflow-x: hidden;
  }

  .desktop-only {
    display: block;
  }

  .desktop-only-table {
    display: table-cell;
  }

  .mobile-only {
    display: none;
  }

  .btn-close-absolute {
    display: none;
  }

  .pd-r-0-desktop {
    padding-right: 0;
  }

  .pd-lr-5-desktop {
    padding-left: 5px;
    padding-right: 5px;
  }

  .pd-l-0-desktop {
    padding-left: 0;
  }
}

.btn-close-absolute {
  position: absolute;
  right: 0;
  display: block;
}

.flag-custom {
  position: absolute !important;
  font-size: 55px;
  border-radius: 100%;
}

.f-70 {
  font-size: 70px;
  font-weight: bold;
}

.wd-100 {
  width: 100%;
}

.five-columns {
  padding-left: 0;
  list-style: none;
  width: 100%;
}

.card-guide {
  background: #000;
  border-radius: 10px;
}

.card-guide-detail {
  background: #000;
  border-radius: 10px;
}

.card-guide-detail .card-body {
  padding: 6px;
  color: #fff;
}

.card-guide-detail .card-body p {
  color: #fff !important;
}

.card-guide .card-body {
  padding: 6px;
  min-height: 140px;
}

.card-guide p.title {
  color: #f4cc06;
  text-transform: uppercase;
  margin-bottom: 0px;
}

.card-guide p.subtitle {
  color: #fff;
  font-weight: normal;
}

.card-guide p.date {
  font-weight: normal;
}

.btn-yellow-guide {
  background: #f4cc06;
  color: #000;
  font-weight: bold;
  border-radius: 0px 0px 5px 5px;
}

.text-yellow {
  color: #f4cc06;
}

.flag-icon-square {
  font-size: 36px;
  margin-bottom: 10px;
}

.text-upper {
  text-transform: uppercase;
}

.custom-navbar-nav {
  width: 100%;
  background: #282d34;
  border-top: 1px solid #54595f;
  border-bottom: 1px solid #54595f;
  margin-top: -20px;
  margin-bottom: 30px;
  -moz-box-shadow: inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow: inset 0 0 10px #000000;
  position: fixed;
  margin-top: -13px;
  transition-property: position;
  transition-duration: 4s;
  z-index: 99;
  height: 55px;
}

.custom-navbar-nav li a {
  color: #fff;
  text-transform: uppercase;
}

.custom-navbar-nav li a:hover,
.custom-navbar-nav li a:active,
.custom-navbar-nav li a:focus {
  background-color: transparent;
}

.navbar-fixed {
  position: fixed;
  margin-top: -13px;
  transition-property: position;
  transition-duration: 4s;
  z-index: 99;
}

.statistik-page {
  padding-top: 50px;
}

.text-gold {
  background: -webkit-linear-gradient(#feae31, #efe457);
  -webkit-background-clips: text;
  -webkit-text-fill-color: transparent;
}

.col-2 {
  display: flex;
  padding-right: 5px;
  padding-left: 14px;
  flex-direction: row;
  justify-content: space-between;
  float: left;
}

.wd-50 {
  width: 50%;
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

.loader {
  position: absolute;
  width: 100%;
  text-align: center;
  height: 100vh;
  z-index: 99999999;
  background: #00000091;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.d-none {
  display: none;
}

.toto-box {
  display: table-cell;
  border: 1px solid #fff;
  width: 35px;
  height: 15px;
  font-size: 18px;
  font-weight: bold;
  padding: 0px 4px;
}

.cell-wrapper {
  padding: 0px 27%;
  margin: 0 auto;
  width: 100%;
}

@media (max-width: 767px) {
  .cell-wrapper {
    padding: 0px 6%;
    margin: 0 auto;
    width: 100%;
  }
}

@media (min-width: 768px) {
  .navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
  }
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 16px;
}
.lds-ellipsis div {
  position: absolute;
  top: 8px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
/* card */
.card {
  background: #101010;
  position: relative;
  margin-bottom: 20px;
  -webkit-box-shadow: 0 0.75rem 1.5rem rgb(18 38 63 / 3%);
  box-shadow: 0 0.75rem 1.5rem rgb(18 38 63 / 3%);
  border-radius: 5px;
}
.hover-shadow-lg:hover {
  -webkit-box-shadow: 0 1rem 3rem rgba(31, 45, 61, 0.125) !important;
  box-shadow: 0 1rem 3rem rgba(31, 45, 61, 0.125) !important;
}
.card-header {
  padding: 1.25rem 1.5rem;
  margin-bottom: 0;
  background-color: transparent;
}
.card-header:first-child {
  border-radius: calc(0.375rem - 1px) calc(0.375rem - 1px) 0 0;
}
.card-body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 2rem;
  color: #eff0f1;
}
.card-body img {
  max-width: 100%;
}
.card-block-avatar {
  color: black;
  padding: 8px;
  background: #e4c046;
  border: 1px solid #e4c046;
  border-radius: 10px;
}
.card-body h5 {
  color: #eff0f1;
  font-size: 20px;
  font-weight: bold;
}
.card-body h3,
a {
  font-size: 14px;
  font-weight: 600;
  color: #f8e14c;
  text-decoration: none;
}
.card-body a:hover {
  color: white;
  text-decoration: none;
}
.avatar-group {
  display: inline-block;
  line-height: 1;
}
.avatar-group span {
  padding: 0.1em 0.1em;
}
/* button */
.bg-btn-orange {
  color: white;
  background: #ff9800;
  box-shadow: 0 8px 10px rgb(255 176 77 / 32%);
  border-radius: 20px;
}
.bg-btn-orange:hover {
  color: white;
  background: #e68900;
  text-decoration: none;
}
.btn-blue-new {
  color: black;
  /* background: #e4c046; */
  border-radius: 4px;
  font-weight: 700;
  background-image: linear-gradient(to bottom, #e4c046 0%, #b78e0d 100%);
}
.btn-blue-new:hover {
  color: black;
  background: white;
  border-radius: 4px;
}

a.btn-blue-new:hover {
  color: black;
  background: white;
  border-radius: 4px;
}
.card-blue .btn a:hover {
  color: white;
  background: #407cfd;
  border-radius: 20px;
}

.btn:active:focus,
.btn:focus {
  outline: none;
  outline-offset: -2px;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #e4c046;
}
.bg-btn-orange.active.focus,
.bg-btn-orange.active:focus,
.bg-btn-orange.focus,
.bg-btn-orange:active.focus,
.bg-btn-orange:active:focus,
.bg-btn-orange:focus {
  outline: none;
  outline-offset: none;
}
.card-footer {
  padding: 12px;
  border-radius: 1px 1px 10px 10px;
  text-align: center;
}

.img-circle {
  border-radius: 50%;
}

.card-flag {
  border-radius: 10px;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-bottom: 1em;
  background: #0a0a0a;
}

.card-flag img {
  border-radius: 14%;
}

.card-thumb {
  border-radius: 10px;
  margin-bottom: 1em;
  background: #131620;
}

.card-thumb img {
  border-radius: 4px;
}

/* bootstrap custom */
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
  position: relative;
  min-height: 1px;
  padding-right: 4px;
  padding-left: 4px;
}
/** Responsive Layout **/
@media (min-width: 992px) {
  .col-md-1-5 {
    width: 20%;
  }
  .col-md-2-5 {
    width: 40%;
  }
  .col-md-3-5 {
    width: 60%;
  }
  .col-md-4-5 {
    width: 80%;
  }
  .col-md-5-5 {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .col-lg-1-5 {
    width: 20%;
  }
  .col-lg-2-5 {
    width: 40%;
  }
  .col-lg-3-5 {
    width: 60%;
  }
  .col-lg-4-5 {
    width: 80%;
  }
  .col-lg-5-5 {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .col-sm-1-5 {
    width: 20%;
  }
  .col-sm-2-5 {
    width: 40%;
  }
  .col-sm-3-5 {
    width: 60%;
  }
  .col-sm-4-5 {
    width: 80%;
  }
  .col-sm-5-5 {
    width: 100%;
  }
}

.bg-blue {
  background: #5b8dfb;
}

.bg-prize {
  background: #050505;
  border: 1px solid #050505;
}
.kontent-home {
  border-radius: 5px;
  border: solid 1px #0a0a0a;
  background: #101010;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 1px 4px 0 rgb(0 0 0 / 15%);
}
.kontent {
  border-radius: 5px;
  border: solid 1px #0a0a0a;
  background: #101010;
  padding: 30px;
  margin-top: 80px;
  margin-bottom: 20px;
  box-shadow: 0 1px 4px 0 rgb(0 0 0 / 15%);
}

.kontent-paito {
  font-family: Roboto, Helvetica Neue, sans-serif;
  font-weight: 600;
  border-radius: 5px;
  border: solid 1px #0a0a0a;
  background: #101010;
  padding: 30px;
  margin-bottom: 20px;
  box-shadow: 0 1px 4px 0 rgb(0 0 0 / 15%);
}

.kontent-before {
  border-radius: 10px;
  border: solid 1px #1d2232;
  background: rgb(19 22 32);
  padding: 30px;
  margin-top: 80px;
  margin-bottom: 20px;
  box-shadow: 0 1px 4px 0 rgb(0 0 0 / 15%);
}
.kontent h1 {
  color: #e4c046;
  font-size: 24px;
  font-weight: 800;
}
.kontent-paito h1 {
  color: #e4c046;
  font-size: 24px;
  font-weight: 800;
}
.kontent-home h1 {
  color: #e4c046;
  font-size: 24px;
  font-weight: 800;
}
.kontent img {
  max-width: 100%;
}
@media (max-width: 756px) {
  .kontent {
    padding: 10px;
  }
}

#breadcrumbs {
  background: #0a0a0a;
  margin: 5px 0 0;
  border: 1px solid #e4c046;
  border-radius: 10px;
  padding: 8px 0 7px 12px;
  font-family: Roboto, Helvetica Neue, sans-serif;
  text-transform: uppercase;
  font-size: 15px;
  overflow-x: hidden;
  overflow-y: hidden;
  letter-spacing: 1px;
  font-style: italic;
  line-height: 1.6em;
  box-shadow: inset 1px 1px 1px #e4c046;
}

#breadcrumbs a {
  color: #e4c046;
}
.breadcrumbs {
  padding: 0 0 22px;
  color: #bbb;
}

.result-box {
  max-width: 826px;
  border-radius: 10px;
  border: solid 1px #1d2232;
  background: rgb(19 22 32);
  padding: 30px;
  margin: auto;
  box-shadow: 0 1px 4px 0 rgb(0 0 0 / 15%);
}

.badge.rescir {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  margin-left: 2px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  color: #ffffff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #272727;
  border-radius: 1em;
}
/* Custom Datatables */
.kontent .dataTables_wrapper .dataTables_length,
.kontent .dataTables_wrapper .dataTables_filter,
.kontent .dataTables_wrapper .dataTables_info,
.kontent .dataTables_wrapper .dataTables_processing,
.kontent .dataTables_wrapper .dataTables_paginate {
  color: #e5e5e5;
}
.kontent .dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
.kontent
  .dataTables_wrapper
  .dataTables_paginate
  .paginate_button.disabled:hover,
.kontent
  .dataTables_wrapper
  .dataTables_paginate
  .paginate_button.disabled:active {
  cursor: default;
  color: #eaeaea !important;
  border: 1px solid transparent;
  background: transparent;
  box-shadow: none;
}
.kontent .dataTables_wrapper .dataTables_paginate .paginate_button {
  box-sizing: border-box;
  display: inline-block;
  min-width: 1.5em;
  padding: 0.5em 1em;
  margin-left: 2px;
  text-align: center;
  text-decoration: none !important;
  cursor: pointer;
  *cursor: hand;
  color: #969696 !important;
  border: 1px solid transparent;
  border-radius: 2px;
}
.kontent table.dataTable.no-footer {
  border: 2px solid #0a0a0a;
}

@media (min-width: 768px) {
  .navbar > .container .navbar-brand,
  .navbar > .container-fluid .navbar-brand {
    margin-left: -15px;
    margin-top: 10px;
  }
}

.container {
  max-width: 1024px;
}

.bg-white {
  background-color: white;
}

/* tabel paito */
#data_paito {
  font-size: 14px;
}

.thead-paito {
  font-weight: 600;
}

.thead-paito th {
  text-align: center;
  color: #ffffff;
  border: 1px solid #333333;
  background: #0a0a0a;
}

.sticky {
  position: fixed;
  top: 0px;
  width: 40%;
  background-color: #0a0a0a;
  box-shadow: 0 8px 6px -6px black;
  color: whitesmoke;
  margin-left: 15px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: all 0.5s ease-in-out;
  z-index: 999;
}

@media (max-width: 768px) {
  .sticky {
    width: 60%;
    margin-left: 4px;
  }

  .kontent-paito {
    padding: 2px;
  }

  .container {
    padding-right: 2px;
    padding-left: 2px;
    margin-right: auto;
    margin-left: auto;
  }

  .navbar-brand {
    padding: 20px 15px;
  }

  table,
  th,
  td {
    font-family: Roboto, Helvetica Neue, sans-serif;
    font-weight: 600;
    font-size: 12px;
    padding: 1px;
  }
}

.img-thumbnail {
  padding: 4px;
  line-height: 1.42857143;
  background-color: #101010;
  border: 1px solid #0a0a0a;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto;
}

footer {
  background: linear-gradient(180deg, #101010, #101010);
  padding: 5px;
  text-align: center;
  color: rgb(231, 231, 231);
  cursor: default;
}

.container-fluid > .navbar-collapse,
.container-fluid > .navbar-header,
.container > .navbar-collapse,
.container > .navbar-header {
  margin-right: 0;
  margin-left: 0;
}

.p-paito {
  font-weight: 300;
}
.mb-2 {
  margin-bottom: 20px !important;
}
